#medkumo-sdk-container-booking {
    font-size: 12px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 140px;
    text-align: center;
    text-decoration: none;
}

#medkumo-sdk-container-booking .medkumo-sdk-book-an-appointment-button {
    padding: 9px 5px;
    webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-radius: 2px;
    background-color: #6caee0;
    background-image: -webkit-linear-gradient(top, #6caee0, #6caee0);
    background-image: -moz-linear-gradient(top, #6caee0, #6caee0);
    background-image: -ms-linear-gradient(top, #6caee0, #6caee0);
    background-image: -o-linear-gradient(top, #6caee0, #6caee0);
    background-image: linear-gradient(top, #6caee0, #6caee0);
    border: 1px solid #6caee0;
    color: #fff;
    text-decoration: none;
}

#medkumo-sdk-container {
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    font: 12px sans-serif;
}

.medkumo-modal {
    display: none;
    /* Hidden by default */
    position: absolute;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.medkumo-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 150px auto;
    padding: 0;
    border: 1px solid #888;
    width: 24%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.medkumo-modal-content .medkumo-close-span {
    position: absolute;
    top: 20px;
    right: 10px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

.medkumo-modal-content .medkumo-close-span:hover {
    color: #333;
}

.medkumo-modal-content .medkumo-modal-header {
    padding: 2px 16px;
    background-color: #6caee0;
    color: white;
    height: 40px;
    line-height: 0;
}

.medkumo-modal-content .medkumo-modal-body {
    padding: 2px 16px;
    margin-top: 8px;
}

.medkumo-popup {
    padding: 20px;
    background: #fff;
    position: relative;
    width: 500px;
    margin: 110px auto;
    border-radius: 5px;
}

.medkumo-popup .medkumo-popup-header {
    padding: 2px 16px;
    background-color: #6caee0;
    color: white;
    position: absolute;
    left: 0px;
    width: 100%;
    top: -24px;
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;
}

.medkumo-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    /*transition: opacity 500ms;*/
    visibility: visible;
    opacity: 1;
    z-index: 100;
}

.medkumo-overlay:target {
    visibility: visible;
    opacity: 1;
}

.medkumo-popup {
    z-index: 101;
}

.medkumo-popup .medkumo-popup-close {
    position: absolute;
    top: -19px;
    right: 12px;
    transition: all 200ms;
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
}

.medkumo-popup .medkumo-popup-close:hover {
    color: #333;
}

.medkumo-popup .content {
    max-height: 30%;
    overflow: auto;
}

#medkumo-sdk-container {
    width: 95%;
    margin: 30px auto;
    background-color: #ffffff;
    font: 12px sans-serif;
}

#medkumo-sdk-container .medkumo-sdk-body {
    padding: 5px;
    overflow-y: auto;
}

#medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-user-detail {
    text-align: center;
    padding-bottom: 5px;
}

#medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment {
    margin: 0 auto;
    box-sizing: border-box;
}

#medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment input {
    color: #5f5f5f;
    box-sizing: border-box;
    width: 285px;
    padding: 12px;
    border-width: 1px;
}

#medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment button {
    border-radius: 2px;
    background-color: #6caee0;
    color: #ffffff;
    padding: 9px 22px;
    border: 0;
}

#medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment .medkumo-sdk-form-row {
    margin: 10px 0;
}

#medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment .medkumo-sdk-form-row label {
    font-weight: bold;
}

#medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment .medkumo-sdk-form-row span {
    min-width: 150px;
    display: inline-block;
    font-weight: bold;
}

#medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment .medkumo-sdk-form-row img {
    width: 4em;
}

#medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment .medkumo-sdk-form-row #medkumo-sdk-form-row-book-button {
    margin-right: 10px;
}

#medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-clear {
    clear: both;
}

@media (min-width: 1200px) {
    .medkumo-popup {
        width: 500px;
        margin-top: 110px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .medkumo-popup {
        width: 500px;
        margin-top: 110px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment .medkumo-sdk-form-row label span {
        display: none;
    }
    #medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment input {
        width: 100%;
    }
    .medkumo-popup {
        width: 90%;
    }
}

@media (max-width: 767px) {
    #medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment .medkumo-sdk-form-row label span {
        display: none;
    }
    #medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment input {
        width: 100%;
    }
    .medkumo-popup {
        width: 90%;
    }
    .medkumo-modal-content {
        width: 80%;
    }
}

@media (min-width: 480px) and (max-width: 550px) {
    .footer-group-button label span {
        display: none;
    }
    .medkumo-sdk-book-an-appointment input {
        width: 238px;
    }
    .medkumo-modal-content {
        width: 80%;
    }
}

@media (max-width: 480px) {
    #medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment .medkumo-sdk-form-row label span {
        display: none;
    }
    #medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment input {
        width: 100%;
    }
    .medkumo-popup {
        width: 80%;
    }
    .medkumo-modal-content {
        width: 80%;
    }
}


/*# sourceMappingURL=style.css.map */


/*# sourceMappingURL=style.css.map */
