.button:hover {
  background: #06D85F; }

.popup {
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  position: relative; }

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif; }

.popup .close {
  position: absolute;
  top: -5px;
  right: 4px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333; }

.popup .close:hover {
  color: #6caee0; }

.popup .content {
  max-height: 30%;
  overflow: auto; }

#medkumo-sdk-container {
  width: 95%;
  margin: 30px auto;
  background-color: #ffffff;
  font: 12px sans-serif; }
  #medkumo-sdk-container .medkumo-sdk-body {
    padding: 5px;
    overflow-y: auto; }
    #medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-user-detail {
      text-align: center;
      padding-bottom: 5px; }
    #medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment {
      margin: 0 auto;
      box-sizing: border-box; }
      #medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment .medkumo-sdk-item-center {
        text-align: center; }
      #medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment input {
        color: #5f5f5f;
        box-sizing: border-box;
        width: 285px;
        padding: 12px;
        border: 1px solid #dbdbdb; }
      #medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment button {
        border-radius: 2px;
        background-color: #6caee0;
        color: #ffffff;
        padding: 9px 22px;
        border: 0; }
      #medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment .medkumo-sdk-form-row {
        margin-bottom: 10px; }
        #medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment .medkumo-sdk-form-row label {
          font-weight: bold; }
        #medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment .medkumo-sdk-form-row span {
          min-width: 150px;
          display: inline-block;
          font-weight: bold; }
        #medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment .medkumo-sdk-form-row img {
          width: 4em; }
        #medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment .medkumo-sdk-form-row #medkumo-sdk-form-row-book-button {
          margin-right: 10px; }
    #medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-clear {
      clear: both; }

@media (min-width: 1200px) {
  #medkumo-sdk-container {
    width: 500px;
    margin-top: 110px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  #medkumo-sdk-container {
    width: 500px;
    margin-top: 110px; } }
@media (min-width: 768px) and (max-width: 991px) {
  #medkumo-sdk-container {
    width: 90%; }
    #medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment .medkumo-sdk-form-row label span {
      display: none; }
    #medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment input {
      width: 100%; } }
@media (max-width: 767px) {
  #medkumo-sdk-container {
    width: 90%; }
    #medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment .medkumo-sdk-form-row label span {
      display: none; }
    #medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment input {
      width: 100%; } }
@media (min-width: 480px) and (max-width: 550px) {
  .footer-group-button label span {
    display: none; }

  .medkumo-sdk-book-an-appointment input {
    width: 238px; } }
@media (max-width: 480px) {
  #medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment .medkumo-sdk-form-row label span {
    display: none; }

  #medkumo-sdk-container .medkumo-sdk-body .medkumo-sdk-book-an-appointment input {
    width: 100%; } }
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
