#medkumo-sdk-container {
    background-color: #ffffff;
    margin: auto;
    font: 12px sans-serif;
    width: 95%;

    .medkumo-sdk-body {
        margin: 0 auto;
        padding: 5px;
        width: 500px;

        .medkumo-sdk-user-detail {
            text-align: center;
            padding-bottom: 5px;
        }

        .medkumo-sdk-book-an-appointment {
            box-sizing: border-box;
            margin: 0 auto;

            input {
                border-width: 1px;
                box-sizing: border-box;
                color: #5f5f5f;
                padding: 12px;
                width: 66%;
            }

            button {
                background-color: #6caee0;
                border-radius: 2px;
                border: 0;
                color: #ffffff;
                padding: 9px 22px;
            }

            .medkumo-sdk-form-row {
                margin-bottom: 10px;
                label {
                    font-weight: bold;
                }

                span {
                    display: inline-block;
                    min-width: 165px;
                    font-weight: bold;
                }

                img {
                    width: 4em;
                }

                #medkumo-sdk-form-row-book-button {
                    margin-right: 10px;
                }
            }
        }

        .medkumo-sdk-clear {
            clear: both;
        }
    }
}
@media (min-width: 1200px) {
    // .medkumo-popup{
    //     width: 500px;
    //     margin-top: 110px;
    // }

}
@media (min-width: 992px) and (max-width: 1199px) {
    // .medkumo-popup{
    //     width: 500px;
    //     margin-top: 110px;
    // }
}
@media (max-width: 991px) {}
@media (min-width: 768px) and (max-width: 991px) {
    #medkumo-sdk-container {
        // .medkumo-sdk-body .medkumo-sdk-book-an-appointment .medkumo-sdk-form-row label span {
        //     display: none;
        // }
        .medkumo-sdk-body{
          width: 100%;

          .medkumo-sdk-book-an-appointment {
              .medkumo-sdk-form-row {

                  span {
                      min-width: 165px;
                  }

                  #medkumo-sdk-form-row-book-button {
                      margin-right: 10px;
                  }
              }
          }
        }

        .medkumo-sdk-body .medkumo-sdk-book-an-appointment input {
            width: 76%;
        }
    }
    // .medkumo-popup{
    //     width: 90%;
    // }
}
@media (max-width: 767px) {
    #medkumo-sdk-container {
        // .medkumo-sdk-body .medkumo-sdk-book-an-appointment .medkumo-sdk-form-row label span {
        //     display: none;
        // }
        .medkumo-sdk-body{
          width: 100%;

          .medkumo-sdk-book-an-appointment {
              .medkumo-sdk-form-row {

                  span {
                      min-width: 165px;
                  }
              }
          }
        }

        .medkumo-sdk-body .medkumo-sdk-book-an-appointment input {
            width: 70%;
        }
    }
    // .medkumo-popup{
    //     width: 90%;
    // }
    //
    // .medkumo-modal-content {
    //     width: 80%;
    // }
}
@media (max-width: 639px) {}
@media (min-width: 480px) and (max-width: 550px) {
    #medkumo-sdk-container {
        .medkumo-sdk-body{
          width: 100%;
        }
        .medkumo-sdk-body .medkumo-sdk-book-an-appointment .medkumo-sdk-form-row label span {
            display: none;
        }

        .medkumo-sdk-body .medkumo-sdk-book-an-appointment input {
            width: 97%;
        }
    }

    .footer-group-button label span {
        display: none;
    }

    .medkumo-sdk-book-an-appointment {
        input {
            width: 97%;;
        }
    }
    // .medkumo-modal-content {
    //     width: 80%;
    // }
}
@media (max-width: 480px) {
    #medkumo-sdk-container {
        .medkumo-sdk-body{
          width: 100%;
        }
        .medkumo-sdk-body .medkumo-sdk-book-an-appointment .medkumo-sdk-form-row label span {
            display: none;
        }

        .medkumo-sdk-body .medkumo-sdk-book-an-appointment {
          input {
              width: 97%;
            }
        }
    }
    // .medkumo-popup{
    //     width: 80%;
    // }
    //
    // .medkumo-modal-content {
    //     width: 80%;
    // }
}
@media (max-width: 320px) {}
/*# sourceMappingURL=style.css.map */
